<app-header></app-header>
<ion-content class="app ">

  <!-- <ion-card class="card">
    <ion-card-header class="cardHeader">
      <ion-card-subtitle>Conta</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="cardContent">
      <ion-card-subtitle class="subtitle">Saldo disponivel</ion-card-subtitle>
      <ion-card-title class="description">R$ 50,00</ion-card-title>
    </ion-card-content>
  </ion-card> -->
  <!-- <div class="content">
    <ion-card class="card">
      <ion-card-header class="cardHeader">
        <ion-card-subtitle>Conta</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="cardContent">
        <ion-card-subtitle class="subtitle">Saldo disponivel</ion-card-subtitle>
        <ion-card-title class="description">R$ 27,46</ion-card-title>
      </ion-card-content>
    </ion-card>
  </div> -->


  <ion-card>
    <ion-card-header>
      <div style="display: flex;">
        <ion-icon name="server-outline"></ion-icon>
        <ion-card-subtitle class="cardHeader">Conta</ion-card-subtitle>
      </div>

      <span class="text-content">Saldo disponível</span>
    </ion-card-header>
    <ion-card-content>
      <!-- Awesome content -->
      <ion-card-title>R$ 27,46</ion-card-title>

    </ion-card-content>
  </ion-card>


  <app-tabs></app-tabs>

</ion-content>